.App {
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.container .jumbotron, .container-fluid .jumbotron{
    padding-right: 30px;
    padding-left: 30px;
}

.page-header{
    margin-top: 20px;
}

.jumbotron{
    background: transparent;
}

.jumbotron p{
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 0;
}

a.active{
    font-weight: bold;
}

.dl-horizontal dt{
    text-align: left;
    margin-bottom: 10px;
}

.pLabel{
    color: GREY;
    margin-bottom: 0;
}

dl{
    margin-bottom: 0;
}


.planDetail{
    margin-top: 40px;
}

.planDetail .pLabel{
    text-transform: uppercase;
    font-size: 12px;
}

.cLabel{
    margin-top: 5px;
    margin-bottom: 30px;
}

.planDetail h4{
    margin-top: 5px;
    /*font-size: 14px;*/
}

.totalSummary h3:first-child{
    margin-top: 0;
}

.sendAlternative .fa-mobile{
    font-size: 18px;
}

.sendAlternative a{
    text-decoration: underline;
}

.wizardNav{
    margin-top: 30px;
}

.form-required{
    color: #c00;
}

.bold{
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a.disabled{
    color: #AAA;
}

.form-control{
    border-radius: 2px;
}

.form-control:focus{
  border: solid 1px #0781bb;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}